{% for post in site.posts %}
<section id="portfolio">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-lg-offset-1 ">
      <div class="modal-body">
        <h2 class="text-center"  style="word-wrap: break-word; white-space: normal">{{ post.title }}</h2>
        <h3 class="text-center">{{post.company}}</h3>
        <hr class="star-primary" />
        <a href="{{post.website}}">
        <img
          src="img/portfolio/{{ post.img }}"
          class="img-responsive img-centered img-responsive-crisp"
          alt="{{ post.alt }}"
        />
      </a>


        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
        <ul id="center-list-small-screen" class="list-inline item-details">
          <h4 class="text-center">Stack Leveraged</h4>
          {% if post.frontend %}
          <li>
            Frontend:
            <strong><a>{{post.frontend}}</a> </strong>
          </li>
          {% endif %} {% if post.backend%}
          <li>
            Backend:
            <strong><a>{{ post.backend }}</a> </strong>
          </li>
          {% endif %} {% if post.persistence %}
          <li>
            Persistence:
            <strong><a>{{ post.persistence }}</a> </strong>
          </li>
          {% endif %} {% if post.deployment %}
          <li>
            Deployment:
            <strong><a>{{ post.deployment }}</a> </strong>
          </li>
          {% endif %}
        </ul >
        <div id="center-list-small-screen">
          <h4 class="text-center">View More</h4>
        <h4 class="text-center"> 
          <a class="btn btn-primary btn-sm"  href="{{post.website}}"><i class="fa fa-fw fa-2x fa-external-link fa-external-link-glow"></i
            ><p>website</p></a>
            {% if post.backendUrl %}
          <a class="btn btn-primary btn-sm" href="{{post.backendUrl}}"> <i class="btn-github-outline-project fa fa-fw fa-2x fa-github"></i
            > <p>Backend</p></a>
          {% endif %}

          {% if post.frontendUrl %}
          <a class="btn btn-primary btn-sm button-margin-mobile" href="{{post.frontendUrl}}"><i class="btn-github-outline-project fa fa-fw fa-2x fa-github"></i
            ><p>Frontend</p></a>
          {% endif %}
          {% if post.singleRepo %}
          <a class="btn btn-primary btn-sm"  href="{{post.singleRepo}}"><i class="btn-github-outline-project fa fa-fw fa-2x fa-github"></i
            ><p>Mono-Repo</p></a>
          {% endif %}</h4>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endfor %}
