{% for post in site.posts %}
<section id="portfolio" class="portfolio-{{post.modal-id}}">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-lg-offset-1 ">
      <div class="modal-body">
        <h2 class="text-center"  style="word-wrap: break-word; white-space: normal">{{ post.title }}</h2>
        <h3 class="text-center">{{post.company}}</h3>
        <hr class="star-primary" />
        <a href="{{post.website}}" target="_blank" rel="noopener noreferrer"> 
          <h4 class="text-center">{{ post.description }}</h4>
          <hr>
        <img
          src="img/portfolio/{{ post.img }}"
          class="img-responsive img-centered img-responsive-crisp"
          alt="{{ post.alt }}"
        />
      </a>
      {% if post.why %}
      <div class="row">
      <h4 style="margin-top: 20px;" class="text-center">Why I Made this</h4>
      <hr class="hr-green">
      <div class="col-lg-5 li-h5" >{{post.whyBullets}}</div>
      <div class="col-lg-7" ><p >{{post.why}}</p></div>
    </div>
    
    
    <div class="row">
      <h4 class="text-center">Challenges & Constraints</h4>
      <hr class="hr-green">
      <div class="col-lg-6 li-h5" ><p >{{post.challengesB1}}</p></div>
      <div class="col-lg-6 li-h5" >{{post.challengesB2}}</div>
    </div>

    <div class="row">
      <h4 class="text-center">Results</h4>
      <hr class="hr-green">
      <div class="col-lg-12 text-center" ><p >{{post.results}}</p></div>
    </div>
    {% endif %}


        <div class="col-lg-10 col-lg-offset-1 ">
          <hr class="hr-green">
          <h4 class="text-center">Stack Leveraged</h4>
          <div clas="row">
            <ul id="center-list-small-screen" class="list-inline stack-list item-details">

          {% if post.frontend %}
          <li>
            Frontend:
            <strong>{{post.frontend}}</strong>
          </li>
          {% endif %} {% if post.backend%}
          <li>
            Backend:
            <strong>{{ post.backend }}</strong>
          </li>


          {% endif %} {% if post.persistence %}
          <li>
            Persistence:
            <strong>{{ post.persistence }}</strong>
          </li>
          {% endif %} {% if post.deployment %}
          <li>
            Deployment:
            <strong>{{ post.deployment }}</strong>
          </li>

          {% endif %}
        </ul >

      </div>

        <hr class="star-primary">


        <h4 class="text-center"> 
          <a class="btn btn-primary btn-sm"  href="{{post.website}}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-2x fa-external-link fa-external-link-glow"></i
            ><p>website</p></a>
            {% if post.backendUrl %}
          <a class="btn btn-primary btn-sm" href="{{post.backendUrl}}" target="_blank" rel="noopener noreferrer"> <i class="btn-github-outline-project fa fa-fw fa-2x fa-github"></i
            > <p>Backend</p></a>
          {% endif %}

          {% if post.frontendUrl %}
          <a class="btn btn-primary btn-sm button-margin-mobile" href="{{post.frontendUrl}}" target="_blank" rel="noopener noreferrer"><i class="btn-github-outline-project fa fa-fw fa-2x fa-github"></i
            ><p>Frontend</p></a>
          {% endif %}
          {% if post.singleRepo %}
          <a class="btn btn-primary btn-sm"  href="{{post.singleRepo}}" target="_blank" rel="noopener noreferrer"><i class="btn-github-outline-project fa fa-fw fa-2x fa-github"></i
            ><p>Mono-Repo</p></a>
          {% endif %}</h4>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endfor %}
