  <div
  class="portfolio-modal modal fade"
  id="resume"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-content-resume">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2>Leo Lazzarini </h2>
          <hr class="star-light" />
          <h4>contact@leolazz.tech</h4>
    </div>
    <div class="col-lg-12 text-center">
      <p class="text-center">
        Highly motivated Full Stack Engineer with a passion for skill acquisition and efficiency. Proficient in modern JavaScript/Typescript frameworks, dev-ops, and GraphQL, with a broad range of software solution building expertise.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Experience Highlights</h3>
        <hr />
        <h4>TYPESCRIPT | ANGULAR | IONIC | REACT | C# | JAVA | PYTHON | TERRAFORM | JAVASCRIPT | NESTJS | DOCKER | KUBERNETES | AGILE | GRAPHQL | REST | APOLLO</h4>
        <hr />
        </div>

        <div class="col-lg-12 text-center">
          <h5>Belcan</h5>
          <h5>FULL-STACK (Associate SOFTWARE ENGINEER - SOFTWARE ENGINEER)</h5>
          <h5>2022 – Ongoing</h5>
          <p>
            Earned individual recognition from CEO, multiple awards, and promotion within 6 months of starting for playing a significant role in the exceptional success of a project.
          </p>
          <h5>Projects & Clients</h5>
          <hr class="star-light" />
          <h5
              class="text-center"
              style="word-wrap: break-word; white-space: normal"
            >
              Blue Origin
            </h5>
            <h5>New Shepard Test Flight & Operations</h5>
            <h5>2022 – March 2023</h5>
          <div class="col-lg-6">
            <ul class="text-left">
              <li>
                Built React UI with custom components for rocket MRO tracking application, in the process identified and addressed critical edge cases in UI mock-ups.
              </li>
              <li>
                Implemented full stack GraphQL solution from API to client-side state management and querying into application architecture to adhere to established guidelines and prepare our service to be used by other teams.
              </li>
              <li>
                Acted as a key technical advisor to the team on the tech stack including Apollo Client, GraphQL, React, and Typescript.
              </li>
              
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="text-left">
              <li>
                Sole technical advisor for deployment and infrastructure technologies including Kubernetes, Docker, AWS, and Terraform.
              </li>
              <li>
                Onboarded and trained team members in relevant technologies and paradigms.
              </li>
              <li>
                Designed the accepted solution to meet project needs and client requests, effectively delegating implementation tasks to team members.
              </li>
              <li>
                Led crucial technical research on application features vital to future contract success.
              </li>
              <li>
                Maintained the highest sprint point average on the team.
              </li>
            </ul>
          </div>
        </div>
          <div class="col-lg-12 text-center">
            <h5
              class="text-center"
              style="word-wrap: break-word; white-space: normal"
            >
              Internal Client
            </h5>
            <h5
              class="text-center"
              style="word-wrap: break-word; white-space: normal"
            >
              Profile Manager
            </h5>
            <h5
              class="text-center"
              style="word-wrap: break-word; white-space: normal"
            >
              2022 - Ongoing
            </h5>
            <div class="col-lg-6">
              <ul class="text-left">
                <li>Designed and independently executed a UI to data layer refactor, normalizing data structures and existing datasets.</li>
                <li>
                  Significantly improved search accuracy by leveraging the refactored & normalized schema along with a previously dormant full-text search feature in PostgreSQL.
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="text-left">
                <li>
                  Identified and resolved an issue that prevented the tool's usage within the internal network.
                </li>
                <li>
                  Collaboratively designed a phased migration plan to a microservice architecture from a monolithic design leveraging a modern tech stack for enhanced maintainability.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
        <div id="pad-bottom-small-screen" class="col-lg-6">
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            LAZZTECH LLC
          </h5>
          <h5
          class="text-center"
          style="word-wrap: break-word; white-space: normal"
        >
         Full-Stack Software Engineer
        </h5>
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            November 2021 - Ongoing
          </h5>
          <p>
            Worked collaboratively contributing to front-end and back-end code base, via ticket work including feature implementation, performance improvements, and bug fixes.
          </p>

          <ul class="text-left">
            <li>Developed a performance enhancement feature enabling pagination of in-app notifications.</li>
            <li>
              Implemented migrations across multiple DB technologies and rolled updates to the production database.
            </li>
            <li>
              Added a feature to streamline the process of inviting friends.
            </li>
          </ul>
        </div>

        <div class="col-lg-6">
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            ZADART EXOTIC CARS
          </h5>
          <h5
          class="text-center"
          style="word-wrap: break-word; white-space: normal"
        >
          Client Advisor / Sales & General Manager
        </h5>
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            April 2016 – August 2020
          </h5>
          <p>
            Tasked with rental, club membership, and vehicle sales. Prospected first leads, built relationships with individuals & businesses
          </p>
          <ul class="text-left">
            <li>Top sales performer for 4 consecutive years among 15+ client advisors.</li>
            <li>
              Closed 203 contracts in the first 6 months, generating 25% of annual revenue.
            </li>
            <li>
              Cultivated long-term client relationships, contributing to over 30% of yearly revenue.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-12 text-center">
        <h3>Education & Personal Development</h3>
        <hr />

        <h5>Full Stack Software Development</h5>
        <h5>Self-Directed Study & Mentorship</h5>
        <h5>2020 – Ongoing</h5>
        <p>
          Achieved proficiency in multiple front-end, back-end, and dev-ops tech stacks through self-directed study and one on one mentorship utilizing personal projects along with hundreds of hours of online courses. 
        </p>
        <hr />
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-4 col-lg-offset-2">
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            Bellevue College
          </h5>
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            2014 - 2016
          </h5>
          <div id="center-list-small-screen"  >
            <ul class="no-dots">
              <li>Phi Theta Kappa Honor Society - 4.0 GPA</li>
              <li>Awarded "Most Likely To Succeed" - CEO Program</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            COMMUNITY MANAGER, STUDENTRND
          </h5>
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            2011 - 2013
          </h5>
          <div id="center-list-small-screen">
            <ul class="no-dots">
              <li>
                Represented company at University of Washington Science Expo
              </li>
              <li>
                Facilitated 24-hour coding competitions and mentored youths
              </li>
            </ul>
          </div>
        </div>
        
        <div style="margin-bottom: 30px;" class="col-lg-4 col-lg-offset-4">
          <a
          href="https://github.com/leolazz"
          class="btn-github btn-github-outline"
          ><i class="fa fa-fw fa-4x fa-github"></i
        ></a>
        </div>
        <div class="col-lg-4 col-lg-offset-4">
          <div class="btn-group-vertical btn-group-lg" role="group">
            <a href="{{ site.url }}/download/Leo-Lazzarini-Resume.png" class="btn btn-resume"><i class="fa fa-download"></i> Download</a>
          <button type="button" class="btn btn-resume" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>


    
