<!-- About Section -->
<section class="success" id="resume">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Resume</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <p>
        A dynamic and driven full stack developer with a voracious appetite for
        skill acquisition and efficiency.
      </p>
    </div>
    <div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3>Recent Experience</h3>
          <hr />
        </div>

        <div class="col-lg-6">
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            LAZZTECH, Junior Full-Stack Software Engineer
          </h5>
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            2021 - Ongoing
          </h5>
          <p>
            Tasked with rental, club membership, and vehicle sales. Prospected
            first leads, built relationships with high net worth individuals.
            Created a marketing plan targeting business in order to increase B2B
            sales opportunities..
          </p>

          <ul>
            <li>1# Sales 4 years in a a row out of 15+ account executives</li>
            <li>
              In first 6 months, closed 203 contracts generating $335k gross
              revenue; 1/4 of total annual revenue
            </li>
            <li>
              Built and nurtured long-term client relations accounting for over
              30% of the yearly revenue
            </li>
          </ul>
        </div>

        <div class="col-lg-6">
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            ZADART EXOTIC CAR, Client Advisor / Sales & General Manager
          </h5>
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            April 2016 – August 2020
          </h5>
          <p>
            Tasked with rental, club membership, and vehicle sales. Prospected
            first leads, built relationships with high net worth individuals.
            Created a marketing plan targeting business in order to increase B2B
            sales opportunities..
          </p>
          <ul>
            <li>1# Sales 4 years in a a row out of 15+ account executives</li>
            <li>
              In first 6 months, closed 203 contracts generating $335k gross
              revenue; 1/4 of total annual revenue
            </li>
            <li>
              Built and nurtured long-term client relations accounting for over
              30% of the yearly revenue
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-12 text-center">
        <h3>Education & Personal Development</h3>
        <hr />

        <h5>Full Stack Software Development, Self-Directed Study</h5>
        <h5>2020 – Ongoing</h5>
        <p>
          Tasked with rental, club membership, and vehicle sales. Prospected
          first leads, built relationships with high net worth individuals.
          Created a marketing plan targeting business in order to increase B2B
          sales opportunities..
        </p>
        <hr />
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-4 col-lg-offset-2">
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            Bellevue College
          </h5>
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            2014 - 2016
          </h5>
          <ul>
            <li>Phi Theta Kappa Honor Society - 4.0 GPA</li>
            <li>Awarded "Most Likely To Succeed" - CEO Program</li>
          </ul>
        </div>

        <div class="col-lg-4">
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            COMMUNITY MANAGER, STUDENTRND
          </h5>
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            2011-2013
          </h5>
          <ul>
            <li>
              Represented company at University of Washington Science Expo
            </li>
            <li>Facilitated 24-hour coding competitions and mentored youths</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
