  <div
  class="portfolio-modal modal fade"
  id="resume"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-content-resume">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2>Leo Lazzarini </h2>
          <hr class="star-light" />
          <h4>contact@leolazz.tech</h4>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <p class="text-center">
        Dynamic & Relentlessly Driven Full Stack Developer With A Voracious Appetite For Skill Acquisition & Efficiency
      </p>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Experience Highlights</h3>
        <hr />
        <h4>TypeScript | JavaScript | C# | Graphql | Apollo | Angular | Ionic | React | Node | Docker | Kubernetes</h4>
        <hr />
        </div>

        <div id="pad-bottom-small-screen" class="col-lg-6">
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            LAZZTECH LLC
          </h5>
          <h5
          class="text-center"
          style="word-wrap: break-word; white-space: normal"
        >
         Full-Stack Software Engineer
        </h5>
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            November 2021 - Ongoing
          </h5>
          <p>
            Worked collaboratively contributing to front-end and back-end code base, via ticket work including feature implementation, performance improvements, and bug fixes.
          </p>

          <ul id="margin-list-resume" class="no-dots ">
            <li>Implemented a performance improvement feature to paginate in-app notifications</li>
            <li>
              Implemented migrations with multiple DB technologies, rolled update to prod DB
            </li>
            <li>
              Added a feature to streamline the process of inviting friends 
            </li>
          </ul>
        </div>

        <div class="col-lg-6">
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            ZADART EXOTIC CARS
          </h5>
          <h5
          class="text-center"
          style="word-wrap: break-word; white-space: normal"
        >
          Client Advisor / Sales & General Manager
        </h5>
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            April 2016 – August 2020
          </h5>
          <p>
            Tasked with rental, club membership, and vehicle sales. Prospected first leads, built relationships with individuals & businesses
          </p>
          <ul id="margin-list-resume" class="no-dots">
            <li>1# Sales 4 years in a a row out of 15+ client advisors</li>
            <li>
              In first 6 months, closed 203 contracts generating 1/4 of total annual revenue
            </li>
            <li>
              Built and nurtured long-term client relations accounting for over 30% of the yearly revenue
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-12 text-center">
        <h3>Education & Personal Development</h3>
        <hr />

        <h5>Full Stack Software Development</h5>
        <h5>Self-Directed Study & Mentorship</h5>
        <h5>2020 – Ongoing</h5>
        <p>
          Achieved proficiency in multiple front-end, back-end, and dev-ops tech stacks through self-directed study and one on one mentorship utilizing personal projects along with hundreds of hours of online courses. 
        </p>
        <hr />
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-4 col-lg-offset-2">
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            Bellevue College
          </h5>
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            2014 - 2016
          </h5>
          <div id="center-list-small-screen"  >
            <ul class="no-dots">
              <li>Phi Theta Kappa Honor Society - 4.0 GPA</li>
              <li>Awarded "Most Likely To Succeed" - CEO Program</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            COMMUNITY MANAGER, STUDENTRND
          </h5>
          <h5
            class="text-center"
            style="word-wrap: break-word; white-space: normal"
          >
            2011 - 2013
          </h5>
          <div id="center-list-small-screen">
            <ul class="no-dots">
              <li>
                Represented company at University of Washington Science Expo
              </li>
              <li>
                Facilitated 24-hour coding competitions and mentored youths
              </li>
            </ul>
          </div>
        </div>
        
        <div style="margin-bottom: 30px;" class="col-lg-4 col-lg-offset-4">
          <a
          href="https://github.com/leolazz"
          class="btn-github btn-github-outline"
          ><i class="fa fa-fw fa-4x fa-github"></i
        ></a>
        </div>
        <div class="col-lg-4 col-lg-offset-4">
          <div class="btn-group-vertical btn-group-lg" role="group">
            <a href="{{ site.url }}/download/Leo-Lazzarini-Resume.png" class="btn btn-resume"><i class="fa fa-download"></i> Download</a>
          <button type="button" class="btn btn-resume" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>


    
